<button id="link-button">Link Account</button>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
  const $linkButton = document.querySelector('#link-button');
  const handler = Plaid.create({
    clientName: 'Budget',
    countryCodes: ['US'],
    env: 'development',
    key: '{{{PLAID_PUBLIC_KEY}}}',
    product: ['transactions'],
    language: 'en',
    onLoad: function() {
      // Optional, called whe
    },
    onSuccess: function(publicToken, metadata) {
      console.log(publicToken, metadata);
      /* fetch('/api/item', { */
      /*   method: 'POST', */
      /*   headers: { */
      /*     'content-type': 'application/json', */
      /*   }, */
      /*   body: JSON.stringify({ */
      /*     publicToken, */
      /*   }), */
      /* }); */
    },
    onExit: function(err, metadata) {
      // The user exited the Link flow.
      if (err != null) {
        // The user encountered a Plaid API error prior to exiting.
      }
      // metadata contains information about the institution
      // that the user selected and the most recent API request IDs.
      // Storing this information can be helpful for support.
    },
    onEvent: function(eventName, metadata) {
      // Optionally capture Link flow events, streamed through
      // this callback as your users connect an Item to Plaid.
      // For example:
      // eventName = "TRANSITION_VIEW"
      // metadata  = {
      //   link_session_id: "123-abc",
      //   mfa_type:        "questions",
      //   timestamp:       "2017-09-14T14:42:19.350Z",
      //   view_name:       "MFA",
      // }
    }
  });

  $linkButton.addEventListener('click', () => {
    handler.open();
  });
</script>
